<%= render '/shared/header' %>
    <% @forums.each do |forum| %>
      <div>
        <div class="forum_title"><%= link_to "#{forum.title}", forum_subjects_path(forum_id: forum.id) %></div>
        <div class="description_text"><%= forum.description %></div>
        <div><%= forum.username %></div>
        <div class="admin_links"><%= link_to 'Edit', edit_forum_path(forum) %></div>
        <div class="admin_links"><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></div> 
      </div>
      </br>
    <% end %>
    <% if current_user %>
    <%= link_to 'New Forum', new_forum_path %>
    <% end %>
  </div>
</body>
