<div class="forum_wrapper col-xs-offset-0 col-sm-offset-1 col-xs-12 col-sm-10">
  <% @forums.each do |forum| %>
    <div class="row forum_row">
      <div class="col-xs-2 forum_user">
        <%= link_to forum.user.username, user_path(forum.user) %>
      </div>
      <div class="col-xs-8 forum_area">
        <%= link_to "#{forum.title}", forum_subjects_path(forum_id: forum.slug) %>
        <br>
        <div>
          <%= forum.description %>
        </div>
      </div> 
      <div class="col-xs-2 forum_time">
        <%= time_ago_in_words(forum.updated_at) %> ago
        <% if current_user && current_user.admin %>
          <br>
          <%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      </br>
    </div>
  <% end %>
  <br>
</div>
<br>
<% if current_user && current_user.admin? %>
  <a href="<%= new_forum_path %>" class="btn btn-default col-sm-offset-10">New Forum</a>
<% end %>


