<%= form_for [@forum, @subject, @topic, @discuss] do |f| %>
  <% if @discuss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discuss.errors.count, "error") %> prohibited this discuss from being saved:</h2>

      <ul>
      <% @discuss.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic_id %><br>
    <%= f.number_field :topic_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
