    <% @discusses.each do |discuss| %>
        <div>
          <%= discuss.username %>
          <br>
          <%= discuss.updated_at.strftime("%m/%d/%Y %I:%M%P") %>
        </div>
        <div>
          <%= link_to "#{discuss.title}", forum_subject_topic_discuss_posts_path(discuss_id: discuss.slug) %>
        </div>
        <div>
        <% if current_user && current_user.admin %>
          <%= link_to 'Destroy', forum_subject_topic_discuss_path(id: discuss.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </br>
    <% end %>
    <br>
    <% if current_user %>
    <%= link_to 'New Discuss', new_forum_subject_topic_discuss_path %>
    <% end %>
  </div>
</body>
</html>