<%= render '/shared/header' %>
    <% @discusses.each do |discuss| %>
      <div>
        <td><%= link_to "#{discuss.title}", forum_subject_topic_discuss_posts_path(discuss_id: discuss.id) %></td>
        <td><%= discuss.description %></td>
        <div><%= discuss.username %> - <%= discuss.updated_at.strftime("%m/%d/%Y - %H:%M") %></div>
        <td><%= link_to 'Show', forum_subject_topic_discuss_path(id: discuss.id) %></td>
        <td><%= link_to 'Edit', edit_forum_subject_topic_discuss_path(id: discuss.id) %></td>
      </div>
      </br>
    <% end %>
    <% if current_user %>
    <%= link_to 'New Discuss', new_forum_subject_topic_discuss_path %>
    <% end %>
  </div>
</body>
