<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @discuss.topic_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @discuss.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discuss.description %>
</p>

<%= link_to 'Edit', edit_forum_subject_topic_discuss_path(@forum, @subject, @topic, @discuss) %> 
<%= link_to 'Back', forum_subject_topic_discusses_path %>
