<div class="forum_wrapper col-xs-offset-0 col-sm-offset-1 col-xs-12 col-sm-10">
  <% @topics.each do |topic| %>
    <div class="row forum_row">
      <div class="col-xs-2 forum_user">
        <%= link_to "#{topic.user.username}", @user %>
      </div>
      <div class="col-xs-8 forum_area">
        <%= link_to "#{topic.title}", forum_subject_topic_discusses_path(topic_id: topic.slug) %>
        <br>
        <div>
          <%= topic.description %>
        </div>
      </div> 
      <div class="col-xs-2 forum_time">
        <%= time_ago_in_words(topic.updated_at) %> ago
        <% if current_user && current_user.admin %>
          <br>
          <%= link_to 'Destroy', forum_subject_topic_path(id: topic.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_forum_subject_topic_path(id: topic.id) %>
        <% end %>
      </div>
      </br>
    </div>
  <% end %>
  <br>
</div>
<% if current_user %>
  <a href="<%= new_forum_subject_topic_path %>" class="btn btn-default col-sm-offset-10">New Topic</a>
<% end %>
