<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to "#{topic.title}", forum_subject_topic_discusses_path(topic_id: topic.id) %></td>
        <td><%= topic.description %></td>
        <td><%= link_to 'Show', forum_subject_topic_path(id: topic.id) %></td>
        <td><%= link_to 'Edit', edit_forum_subject_topic_path(id: topic.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_forum_subject_topic_path %>
