 <%= render partial: 'shared/header', locals: {newest: @newest} %>
    <% @topics.each do |topic| %>
      <div class="forum_outline">
        <div class="forum_user_info">
          <%= topic.username %> 
          <br> 
          <%= topic.updated_at.strftime("%m/%d/%Y - %I:%M%P") %>
        </div>
        <div class="forum_title">
          <%= link_to "#{topic.title}", forum_subject_topic_discusses_path(topic_id: topic.slug) %> 
          <br> 
          <%= topic.description %>
        </div>
        <div class="admin_links">
          <%= link_to 'Destroy', forum_subject_topic_path(id: topic.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div> 
      </div>
      </br>
    <% end %>
    <% if current_user %>
    <%= link_to 'New Topic', new_forum_subject_topic_path %>
    <% end %>
  </div>
</body>