<%= render '/shared/header' %>
    <% @topics.each do |topic| %>
      <div>
        <td><%= link_to "#{topic.title}", forum_subject_topic_discusses_path(topic_id: topic.id) %></td>
        <td><%= topic.description %></td>
        <div><%= topic.username %></div>
        <td><%= link_to 'Show', forum_subject_topic_path(id: topic.id) %></td>
        <td><%= link_to 'Edit', edit_forum_subject_topic_path(id: topic.id) %></td>
      </div>
      </br>
    <% end %>
    <% if current_user %>
    <%= link_to 'New Topic', new_forum_subject_topic_path %>
    <% end %>
  </div>
</body>
