<h1 id="banner"><%= link_to "Divide By Zero", root_path %></h1>

<body class="wrapper">
 <div class="main_title">
   <% if @forum %>
     <%= link_to @forum.title, forum_subjects_path(forum_id: @forum) %>
     <% if @subject %>
      - <%= link_to @subject.title, forum_subject_topics_path(subject_id: @subject) %>
      <% if @topic %>
        - <%= link_to @topic.title, forum_subject_topic_discusses_path(topic_id: @topic) %>
        <div class="discuss_title">
           <% if @discuss %>
           <%= @discuss.title %>
            <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="left_bar">
    <% if user_signed_in? %>
    <li>
      <%= link_to(current_user.username, user_path(current_user)) %>
      <br>  
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>
    <% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %>  
    </li>
    <% end %>
</div>
<div class="right_bar"><script type="text/javascript" src="http://www.typefrag.com/Server-Status/script.aspx?id=e96ae72d-963f-4aca-ab21-7c80e8b0ba47"></script></div>
<div class="middle_content">
