<div class="col-xs-offset-1 col-xs-12 col-sm-6 form_body">
	<div class="col-xs-3 event_day">
		<%= @time.strftime("%B")%>
		<br>
		<%= @time.strftime("%A %d") %>
		<br>
		<br>
		<%= @event.start_time %>
	</div>
	<div class="col-xs-offset-1 col-xs-8 event_title">
		<%= @event.title.upcase %>
	<br>
		<%= @event.description %>
	</div>
</div>
	<div class="col-xs-offset-0 col-sm-offset-1 col-xs-12 col-sm-3 form_body">
	</div>
