<div class="col-xs-offset-1 col-xs-12 col-sm-6 form_body">
	<div class="col-xs-3 event_day">
		<%= @time.strftime("%B")%>
		<br>
		<%= @time.strftime("%A %d") %>
		<br>
		<br>
		<%= @event.start_time %>
	</div>
	<div class="col-xs-offset-1 col-xs-8 event_title">
		<%= @event.title.upcase %>
		<br>
		<%= @event.description %>
	</div>
</div>
<div class="col-xs-offset-0 col-sm-offset-1 col-xs-12 col-sm-3 rsvp_body">
	<table class="table">
		<thead>
			<tr>
				<th>
					User
				</th>
				<th>
					Main Job
				</th>
				<th>
					Secondary Job
				</th>
			</tr>
		</thead>
		<tbody>
			<% @event.rsvps.each do |rsvp| %>
			<tr>
				<td>
					<%= link_to rsvp.user.username, rsvp.user %>
				</td>
				<td>
					<%= rsvp.main_job %>
				</td>
				<td>
					<%= rsvp.second_job %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% unless @event.users.include? current_user %>
		<%= render 'rsvps/attend' %>
	<% else %>
		<%= link_to "Unattend", event_rsvp_path(@event, @event.rsvps.where(user: current_user).first), method: :delete %>
		<% end %>
</div>