<div class="col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-4 user_body">
	<div class="col-xs-6 event_date">
		<div class="col-xs-12 event_month">
			<%= @time.strftime("%B") %>
		</div>
		<div class="col-xs-12 event_day">
			<%= @time.strftime("%d") %></div>
		<div class="col-xs-12 event_full_day">
			<%= @time.strftime("%A") %>
		</div>
		<div class="col-xs-12 event_show_time">
			<%= @event.start_time %> - <%= @event.end_time %>
		</div>
	</div>
	<div class="col-xs-offset-0 col-xs-6 event_information">
		<div class="col-xs-12 event_show_title">
			<%= @event.title.upcase %>
		</div>
		<div class="col-xs-12 event_description">
		<%= @event.description %>
		</div>
	</div>
</div>
<% if @event.event_type == "Raid" %>
	<%= render 'raid' %>
<% else %>
	<%= render 'other' %>
<% end %>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
