<%= render '/shared/header' %>
    <% @subjects.each do |subject| %>
      <div>
        <td><%= link_to "#{subject.title}", forum_subject_topics_path(subject_id: subject.id) %></td>
        <td><%= subject.description %></td>
        <td><%= link_to 'Show', forum_subject_path(id: subject.id) %></td>
        <td><%= link_to 'Edit', edit_forum_subject_path(id: subject.id) %></td>
      </div>
      </br>
    <% end %>
    <%= link_to 'New Subject', new_forum_subject_path(params[:forum_id]) %>
  </div>
</body>
