<%= render '/shared/header' %>
    <% @subjects.each do |subject| %>
       <div class="forum_outline">
        <div class="forum_user_info">
          <%= subject.username %>
          <br>
          <%= subject.updated_at.strftime("%m/%d/%Y - %I:%M%P") %>
        </div>
        <div class="forum_title">
          <%= link_to "#{subject.title}", forum_subject_topics_path(subject_id: subject.id) %>
          <br> 
          <%= subject.description %>
        </div>
        <div class="admin_links">
          <%= link_to 'Destroy', forum_subject_path(id: subject.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div> 
      </div>
      </br>
    <% end %>
    <% if current_user %>
    <%= link_to 'New Subject', new_forum_subject_path(params[:forum_id]) %>
    <% end %>
  </div>
</body>
