<div class="forum_wrapper">
  <% @subjects.each do |subject| %>
    <div class="row forum_row">
      <div class="col-xs-2 col-sm-2 col-md-2 forum_user">
        <%= link_to "#{forum.user.username}", @user %>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 forum_area">
        <%= link_to "#{subject.title}", forum_subject_topics_path(subject_id: subject.slug) %>
        <br>
        <div><%= subject.description %></div>
      </div> 
      <div class="col-xs-0 col-sm-2 col-md-2 forum_user">
        <%= time_ago_in_words(subject.updated_at) %>
        <% if current_user && current_user.admin %>
        <br>
        <%= link_to 'Destroy', forum_subject_path(id: subject.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      </br>
    </div>
  <% end %>
  <br>
  <% if current_user %>
    <%= link_to 'New Subject', new_forum_subject_path(params[:forum_id]) %>  
  <% end %> 
  </div>
</div>