<%= render '/shared/header' %>
    <% @subjects.each do |subject| %>
      <div>
        <td><%= link_to "#{subject.title}", forum_subject_topics_path(subject_id: subject.id) %></td>
        <td><%= subject.description %></td>
        <div><%= subject.username %> - <%= subject.updated_at.strftime("%m/%d/%Y - %H:%M") %></div>
        <div class="admin_links"><%= link_to 'Destroy', forum_subject_path(id: subject.id), method: :delete, data: { confirm: 'Are you sure?' } %></div> 
      </div>
      </br>
    <% end %>
    <% if current_user %>
    <%= link_to 'New Subject', new_forum_subject_path(params[:forum_id]) %>
    <% end %>
  </div>
</body>
