 <%= render partial: 'shared/header', locals: {newest: @newest} %>
      <div class="forum_user_info"> 
        <%= link_to 'Destroy', forum_subject_topic_discuss_path(id: @discuss.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="post_view">
        <%= @discuss.description %>
      </div>
      <div class="admin_links">
        <%= @discuss.username %>
        <br>
        <%= @discuss.created_at.strftime("%m/%d/%Y - %I:%M%P") %>
      </div>
      <br/>
    <% @posts.each do |post| %>
        <div class="forum_user_info">
          <%= link_to 'Destroy', forum_subject_topic_discuss_post_path(id: post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="post_view">
          <%= post.description %>
        </div>
        <div class="admin_links">
         <%= post.username %> 
          <br>
          <%= post.created_at.strftime("%m/%d/%Y - %I:%M%P") %>
        </div>
      </br>
      <% end %>
      <% if current_user %>
      <%= link_to 'New Post', new_forum_subject_topic_discuss_post_path %>
    <% end %>
  </div>
</body>