<h1 id="banner">Banner</h1>

<body class="wrapper">
<div class="main_title"><%= @forum.title %>-<%=@subject.title%>-<%=@discuss.title%></div>
<div class="left_bar">Left</div>
  <div class="right_bar">Right Bar</div>
  <div class="middle_content">
    <% @posts.each do |post| %>
      <div>
        <td><%= post.discuss_id %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Edit', edit_forum_subject_topic_discuss_post_path(id: post.id) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
      </br>
    <% end %>
    <%= link_to 'New Post', new_forum_subject_topic_discuss_post_path %>
  </div>
</body>