<%= render '/shared/header' %>
    <% @posts.each do |post| %>
      <div>
        <div class="post_view"><%= post.description %></div>
        <div><%= post.username %></div>
        <td><%= link_to 'Edit', edit_forum_subject_topic_discuss_post_path(id: post.id) %></td>
      </div>
      </br>
    <% end %>
    <% if current_user %>
    <%= link_to 'New Post', new_forum_subject_topic_discuss_post_path %>
    <% end %>
  </div>
</body>