<div class="col-xs-1"> </div>
<div class="col-xs-10">
<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
  <%= @events_by_date[date] %>
    <% if @events_by_date[date.to_s] %>
      <ul>
        <% @events_by_date[date.to_s].each do |event| %>
          <li><%= link_to event.title, event, 'data-no-turbolink' => true %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<div class="btn-group new_event_btn">
  <a href="<%= new_event_path %>" class="btn btn-default">New Event</a>
</div>
</div>
<div class="col-xs-1"> </div>